* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


section {
    padding: 80px 20px;
    text-align: center;
}


.hero-para {
    height: 800px;
    background-image: url(hero.jpeg);
    background-size: cover;
    background-position: center 0px;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 24px;
    font-weight: bold;
}



#hamburger {
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222;
    list-style: none;
    padding-top: 60px;
    transition: left 0.3s ease;
}

.sidebar li {
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid #333;
}

.sidebar.active {
    left: 0;
}
.sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar li a:hover {
    background: #444;
}



#projects ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#projects li {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

#projects li:hover {
    transform: scale(1.05);
}



button {
    padding: 10px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
} 

.dark {
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}

.dark #projects li {
    background: #333;
}


@media (max-width: 768px) {
    #projects ul {
        flex-direction: column;
        align-items: center;
    }

    .hero-para {
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
}
